canvas{
    width: 90vh;
    height: 90vh;
    border-radius: 1rem;
    transition: 0.3s;
    background-color: rgb(42, 41, 51);
}
*{
    outline: none;
}
#score,#highscore{
    margin-left: auto;
}
.menu{
    position: absolute;
    right: 0;
    box-sizing: border-box;
    width: 15vw;
    height: 100%;
}