.welcome {
	z-index: 11;
	position: absolute;
	top: 1rem;
	font-size: 2rem;
	color: #326273;
}
html {
	-ms-touch-action: manipulation;
  touch-action: manipulation;
  overflow-x: hidden;
}
* {
	-webkit-tap-highlight-color: transparent;
}
.rotateBtn {
	width: 15vw;
	background-color: transparent;
	border: none;
	background-size: 13vw;
	background-position: center;
	background-image: url(./arrow.svg);
	background-repeat: no-repeat;
	height: 50vh;
	font-size: 8rem;
	font-weight: 100;
	pointer-events: auto;
	cursor: pointer;
	outline: none;
}
.rotateBtn:hover {
	filter: brightness(1.3);
}

.mask {
	position: fixed;
	pointer-events: none;
	width: 100vw;
	height: 100vh;
	transform: translateZ(1000px);
	z-index: 10;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: rgb(255, 255, 255);
	background: linear-gradient(
		90deg,
		rgba(255, 255, 255, 1) 15%,
		rgba(255, 255, 255, 0.9475140397956058) 22%,
		rgba(255, 255, 255, 0) 35%,
		rgba(255, 255, 255, 0) 65%,
		rgba(255, 255, 255, 0.9475140397956058) 78%,
		rgba(255, 255, 255, 1) 85%
	);
}
.scoreRow {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.resultDiv {
	padding: 0 2rem !important;
}
.carouselBg {
	display: flex;
	width: 80vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.quizHolder {
	margin: 0 auto;
	margin-top: -120px;
	width: 280px;
	height: 200px;
	position: relative;
	perspective: 1000px;
}

.carousel {
	height: 100%;
	width: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transition: transform 0.5s;
}

.quiz {
	display: block;
	position: absolute;
	background: linear-gradient(145deg, #62a9b9, #538e9c);
	width: 280px;
	min-height: 300px;
	display: flex;
	flex-direction: column;
	padding: 0.4rem;
	box-sizing: border-box;
	align-items: center;
	color: white;
	border-radius: 10px;
}
.quizTitle {
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
	padding: 0.4rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}
.quizForm {
	width: 100%;
	flex: 1;
	background: #326273;
	padding: 0.3rem;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 0.5rem;
}
input[type="radio"],
input[type="checkbox"] {
	margin-right: 0.5rem;
	cursor: pointer;
}
.quizText {
	margin-bottom: -0.3rem;
}
.flag {
	width: 40px;
	height: 30px;
	margin: 0 0.3rem;
	border-radius: 5px;
}
.quizImg {
	width: 240px;
}
.quizRow {
	display: flex;
	flex-direction: row;
	margin: 0.1rem;
	padding: 0.2rem;
	border-radius: 0.4rem;
	align-items: center;
	transition: all 0.3s;
}
.useInLandscape {
	position: absolute;
	display: none;
	font-weight: bold;
	color: #326273;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: white;
	z-index: 1000;
}
@font-face {
	font-family: League Spartan;
	src: url(./LeagueSpartan-Bold.otf);
}
body {
  overflow: hidden;
}
* {
	font-family: League Spartan;
}
.zoom{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0.7rem;
  right: 0.7rem;
  z-index: 15;
}
.minBtn, .plusBtn{
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1vw;
  background-clip: border-box;
  width:2vw;
  height: 2vw;
  min-width: 20px;
  min-height: 20px;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #538e9c;
}
.plusBtn{
  background-image: url(./plus.svg);
  margin-left: 0.2rem;
}
.minBtn{
  background-image: url(./minus.svg);
}
@media screen and (orientation: portrait) {
	.quizHolder {
		display: none;
	}
	.useInLandscape {
		display: flex;
	}
}
